Attributes [swGridMode="3"]
LoadInstrument LED[BoundX="180",BoundY="180",colOFF="0"]
LoadInstrument LED[BoundX="240",BoundY="180",swBIT="1",colON="255",colOFF="0"]
LoadInstrument LED[BoundX="300",BoundY="180",swBIT="2",colON="16711680",colOFF="0"]
